{% extends 'base.html' %}
{% block content %}
        <div class="container">
            <div class="app-title">
                <label for="exampleDataList" class="form-label login-form-title m-t-15"><a href="/">Actrifier</a></label>
            </div>
            <div class="row">
                <form action="/card" method="post" style="display: flex">
                    <div class="col-md-8">

                        <div class="search-form">
                            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." name="name">
                            <datalist id="datalistOptions">
                                <!--Print dynamic-->
                                {% for name in lucky_list %}
                                    <option value="{{ name }}">
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="container-login-form-btn m-l-10 m-r-10">
                            <button class="login-form-btn card-btn">Search</button>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="container-login-form-btn m-b-45 m-l-30">
                            <button class="login-form-btn card-btn">I'm Feeling Lucky</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!--Photo-->
                    ​<img src="{{ actor_img_link }}" class="img-thumbnail" alt="{{ actor_name }}">

                </div>
                <div class="col-md-6">
                    <!--Some info here-->
                    <div class="actor-name">
                        <p>{{ actor_name }}</p>
                    </div>

                    <div class="was-born">
                        {% if actor_born_info[1] %}
                            <p>Born: {{ actor_born_info[0] }}, {{ actor_born_info[1] }} in {{ actor_born_info[2] }} </p>
                        {% elif actor_born_info %}
                            <p>Born: {{ actor_born_info[0] }} </p>
                        {% else %}
                            <p>Born: Not found </p>
                        {% endif %}
                    </div>

                    {% if actor_death_info[1] %}
                        <div class="was-born">
                            <p>Died: {{ actor_death_info[0] }}, {{ actor_death_info[1] }} in {{ actor_death_info[2] }} </p>
                        </div>
                    {% elif actor_death_info %}
                        <div class="was-born">
                            <p>Died: {{ actor_death_info[0] }} </p>
                        </div>
                    {% endif %}

                    <div class="year-old">
                        <p>Age: {{ actor_age }}</p>
                    </div>

                    <div class="bio-info m-t-15">
                        <p>{{ actor_bio }}
                            <a href="{{ actor_bio_more }}">
                                Show more
                            </a>
                        </p>
                    </div>

                    <div class="movie-count m-t-15">
                        <p>Starred in <b>{{ actor_number_movie }}</b> movies</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                {% for i in movie_info %}
                    <div class="col-md-4 movie m-t-15 m-b-15">
                        <div class="row">

                            <div class="col-md-3  m-r-15">
                                <div class="poster">
                                    <img src="/static/img/movie_poster.svg" class="rounded float-start" alt="{{ i.title }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title">
                                    <a href="{{ i.link }}">
                                        <p>{{ i.title }}</p>
                                    </a>
                                </div>
                                <div class="year">
                                    <p>{{ i.year }}</p>
                                </div>
                                <div class="cast">
                                    <p>Role: {{ i.role }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
{% endblock %}