{% extends 'base.html' %}
{% block content %}
        <div class="limiter">
            <div class="container-login">
                <div class="wrap-login p-t-55 p-b-20">
                    <div class="login-form">
                        <span class="login-form-title p-b-70">Actrifier</span>
                        <form>
                            <div class="search-form m-b-40">
                                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." name="name">
                                <datalist id="datalistOptions">
                                    <!--Print dynamic-->
                                    {% for name in lucky_list %}
                                        <option value="{{ name }}">
                                    {% endfor %}
                                </datalist>
                            </div>

                            <div class="container-login-form-btn m-b-45">
                                <button class="login-form-btn search_btn">Search</button>
                            </div>

                            <div class="container-login-form-btn m-b-45">
                                <button class="login-form-btn lucky_btn">I'm Feeling Lucky</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
{% endblock %}
